body{
    background-image: url("/imgs/fundopainel.jpg");
}
#caixinha{
    background-color: rgb(162, 162, 169);
    align-items: center;
    border-radius: 8px;
    width: 450px;
    height: 285px;
    border-color: black 3px solid;
    border:solid;
}
#palavra{
    font-size:30px;
}

#p1{
    background-color: rgb(255, 255, 242);
    font-size: 40px;
    border-radius: 7px black solid;
    height: 50px;
    width: 60%;
}
#p3{
align-self: center;
font-size: 50px;
}
#lado_a h1{
justify-content: center;
display: flex;
}
#lado_b h1{
justify-content: center;
display: flex;
}
#p3-b{
font-size: 50px;
}
#caixa2{
font-size: 30px;
}
#re{
    font-size: 40px;
    width: 180px;
    height:auto;
}
#senharand{
    font-size:35px;
}
#caixinha0{
    background-color:rgb(162, 96, 46);
    align-items: center;
    border-radius: 8px black;
    border-color: black 3px solid;
    padding: 3px; 
    width: 410px;
    align-content:center;
}
#caixinha1{
    background-color: rgb(231, 231, 238);
    border-radius: 8px black;
    width: 500px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#lado_a{
    border-right: solid;
}
#caixinha2{
    background-color:rgb(255, 255, 255);
    align-items: center;
    border: solid;
    border: black 3px solid;
    padding: 9px; 
    width:400px;
    align-content:right;
}
#caixinha3{
    background-color:rgb(255, 255, 255);
    align-items: center;
    border: solid;
    border-color: black 3px solid;
    padding: 6px; 
    width:400px;
    align-content:right;
}
#p2{
    font-size: 50px;

}
#emoji li{
    display:inline-block;
}
.Conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:7px;
    border-color: black 3px solid;
}
#senhaconseg{
    font-size: 20px;
}
#lista{
    font-size:30px;
}
#recebimentos{
    color: green;
    font-size: 40px;
}
#avaliar{
    justify-content: center;
    display: flex;
}
#avaliar p{
    font-size:20px;
}
#lista1{
    border-color: black 4px solid;
    font-size:30px;
}
#ola{
    border-radius: 8px black;
}
#Ola{
    translate: -607.2px;
    display: flex;
    width: 226%;
    background-color: gray;
    height: 40px;
    align-items: bottom;
    font-size: 30px;
    animation-name: slideLeft; /* Name of your keyframe animation */
      animation-duration: 385s; /* How long the animation takes */
      animation-timing-function: ease; /* Speed curve of the animation */
      animation-iteration-count: infinite; /* How many times it plays */
      animation-direction: normal; 
}
@keyframes slideLeft {
  from {
    transform: translateX(600px);
  }
  to {
    transform: translateX(-738.2px);
  }
}
#avaliar{
    background-color:rgb(162, 96, 46);
    width:400px;
}
#avaliar section{
    padding: 10px;
    align-content: space-between;
    display:inline-block;
}
