body{
    background-image: url("/imgs/fundopainel2.png");
    background-size: cover; /* Faz a imagem cobrir toda a área */
    background-repeat: no-repeat; /* Impede a repetição */
    background-position: center center;
}
#caixinha{
    background-color: rgb(162, 162, 169);
    align-items: center;
    border-radius: 8px;
    width: 450px;
    height: 285px;
    border-color: black 3px solid;
    border:solid;
}
#palavra{
    font-size:30px;
}

#p1{
    background-color: rgb(255, 255, 242);
    font-size: 40px;
    border-radius: 7px black solid;
    height: 50px;
    width: 60%;
}
#p3{
align-self: center;
font-size: 50px;
}
#lado_a h1{
justify-content: center;
display: flex;
}
#lado_b h1{
justify-content: center;
display: flex;
}
#p3-b{
font-size: 50px;
}
#re{
    font-size: 40px;
    width: 180px;
    height:auto;
}
#senharand{
    font-size:35px;
}
#caixinha0{
    background-color:rgb(162, 96, 46);
    align-items: center;
    border-radius: 8px black;
    border-color: black 3px solid;
    padding: 3px; 
    width: 410px;
    align-content:center;
}
#caixinha1{
    background-color: rgb(231, 231, 238);
    border-radius: 8px black;
    width: 500px;
    height: 310px;
    display:grid;
    grid-template-columns: 1fr 1fr;
}
#lado_a{
    border-right: solid;
}
#caixinha2{
    background: radial-gradient(1200px 400px at -10% -10%, #15213a8c 0%, rgba(27, 64, 143, 0.681) 40%), 
                  radial-gradient(800px 300px at 120% -10%, rgba(34, 71, 151, 0.25) 0%, rgba(17, 24, 39, 0.274) 45%),
                  linear-gradient(180deg, #0b122049, #1118274d 40%);
    align-items: center;
    padding: 9px; 
    width:400px;
    height: 200px;
      border: 2px white solid;
      border-radius: 16px;
      padding: 20px;
      box-shadow: 0 10px 40px rgba(0, 0, 0, 0.675); /* Sombra mais forte */
       /* Garante que os cards fiquem acima do z-index: -1 */
    align-content:right;
    border-bottom: 1px black solid var(--border);
}
#dentrocaixinha2{
background: linear-gradient(180deg, #6c84b4, #0c1426);
border-radius: 4px;
position: relative;
}

#p2{
    font-size: 36px;
    justify-self: center;

}
#emoji li{
    display:inline-block;
}
.Conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:7px;
    border-color: black 3px solid;
}
#senhaconseg{
    font-size: 20px;
}
#lista{
    font-size:30px;
}
#recebimentos{
    color: green;
    font-size: 40px;
}
#avaliar{
    justify-content: center;
    display: flex;
}
#avaliar p{
    font-size:20px;
}
#lista1{
    border-color: black 4px solid;
    font-size:30px;
}
#avaliar{
    background-color:rgb(162, 96, 46);
    width:400px;
}
#avaliar section{
    padding: 10px;
    align-content: space-between;
    display:inline-block;
}
